.btn {
  background-color: $bg-color-light;
  height: 100px;
  width: 180px;
  line-height: 1.5rem;
  margin: 15px;
  color: $text-color-primary;
  border: 1px solid $border-btn-light;
  transition: 0.5s;
  &:hover {
    background-color: $bg-color-hover;
    color: $text-color-detail;
    letter-spacing: 0.25rem;
    box-shadow: 0 0 35px $border-color-detail;
    border: 1px solid $border-color-detail;
    cursor: pointer;
  }
}
