.history--section {
  width: 100%;
  margin: 40px 15px 30px;
  border: 1px solid #ffffff;
  background-color: $bg-color-light;
  height: 250px;
}

.history--text {
  border-bottom: 1px dashed #ffffff;
  padding: 15px;
  margin: 0;
  text-align: center;
}
