$bg-color-dark: #303030;
$bg-color-light: #424242;
$bg-color-detail: #2e2e2e;
$bg-color-hover: #2e2e2e;

$text-color-primary: #f5f5f5;
$text-color-detail: #1764fe;

$border-color-primary: #f5f5f5;
$border-color-detail: #1764fe;
$border-color-secondary: #000000;

$border-btn-light: #ffffff;
